.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todopage{
  width: 50vw;
  position: relative;
  margin-top: 5rem;
}

.todoitems{
  margin: 2rem;
}

.liststyles{
  background-color: #0dd1724f;
}

#checkbox{
  display: flex;
  float: inline-start;
}

button{
  display: flex;
  float: inline-end;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
